<div class="map-info">
    <div class="info">
        <div>Center: {{ leafLetMap?.getCenter() }}</div>
        <div>NorthWest: {{ leafLetMap?.getBounds()?.getNorthWest() }}</div>
        <div>SouthEast: {{ leafLetMap?.getBounds()?.getSouthEast() }}</div>
    </div>
    <div class="info">
        <button class="green"
                (click)="subscribeToOrUpdateAisStreamConnection()">
            @if (aisStreamSubscription$) {
                Update Subscription
            } @else {
                Stream Ais Data
            }
        </button>
        @if (shipMarkerAndDataMap.size > 0) {
            <button class="yellow"
                    (click)="clearMarkers()">Remove Markers
            </button>
        }
        @if (aisStreamSubscription$) {
            <button class="red"
                    (click)="stopRequestingAisData()">Stop Streaming
            </button>
        }
        @if (selectedMmsi) {
            <button class="green"
                    (click)="requestAggregatedData(selectedMmsi)">Request Data for Ship: {{ selectedMmsi }}
            </button>
        }
    </div>
</div>
<div class="map"
     leaflet
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)"
     (leafletCenterChange)="onCenterChange($event)">
</div>
