<div>NorthWest: {{ leafLetMap?.getBounds()?.getNorthWest() }}</div>
<div>SouthEast: {{ leafLetMap?.getBounds()?.getSouthEast() }}</div>
<div>Center: {{ leafLetMap?.getCenter() }}</div>
<button type="button"
        class="btn btn-primary"
        (click)="subscribeToOrUpdateAisStreamConnection()">Stream Ais Data
</button>
<button type="button"
        class="btn btn-primary"
        (click)="clearMarkers()">Remove Markers
</button>
<button type="button"
        class="btn btn-primary"
        (click)="stopRequestingAisData()">Stop Streaming
</button>
<div class="map"
     leaflet
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)"
     (leafletCenterChange)="onCenterChange($event)">
</div>
