<div>NorthWest: {{ leafLetMap?.getBounds()?.getNorthWest() }}</div>
<div>SouthEast: {{ leafLetMap?.getBounds()?.getSouthEast() }}</div>
<button type="button"
        class="btn btn-primary"
        (click)="subscribeToOrUpdateAisStreamConnection()">Access Ais Data for current Box
</button>
<button type="button"
        class="btn btn-primary"
        (click)="stopRequestingAisData()">Stop
</button>
<div class="map"
     leaflet
     [leafletOptions]="options"
     [leafletLayersControl]="layersControl"
     (leafletMapReady)="onMapReady($event)"
     (leafletCenterChange)="onCenterChange($event)">
</div>
